.header-top {
  background-color: #dea43e;
  height: 2.8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.header-top-title {
  color: white;
  font-size: 1.3rem;
}
.header-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  position: relative;
}
.header-middle-img {
  width: 12rem;
}
.header-middle-list {
  display: flex;
  position: absolute;
  right: 0;
  top: 50%;
}
.header-middle-icon {
  font-size: 2rem;
  align-content: center;
}
.header-middle-icon:not(:first-child) {
  margin-left: 2.5rem;
}
.header-bottom {
  padding-top: 3rem;
}
.header-bottom-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
}
.header-bottom-item {
  font-size: 1.3rem;
  text-transform: uppercase;
}
.header-bottom-item a {
  color: #333;
  font-weight: bold;
}
.header-bottom-item .item-active.active {
  color: #dea43e;
}

.path {
  background-color: #f3f5f6;
  padding: 8px 0;
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #252a2b;
}

.path-detail-center,
.path-detail-right {
  padding-left: 5px;
}

.path-detail-right {
  color: #333;
  font-weight: 700;
}

.banner > img {
  margin: 0 auto;
}

.product {
  margin-bottom: 7rem;
  margin-top: 3rem;
}

.product-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.product-title {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
}

.product-filter {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.product-filter span {
  padding-left: 1rem;
}

.product-desc {
  font-size: 1.7rem;
  color: #333;
  text-align: center;
}

.list-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 1.5rem;
}

.list-item {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem;
}
.list-item-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-item-price {
  color: #ff1b0b;
  font-size: 1.4rem;
  font-weight: bold;
}

.footer {
  background-color: #333;
  width: 100%;
  /* height: 40rem; */
}
.footer-list {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3rem;
  border-bottom: 1px solid #aeaeae;
  padding-bottom: 4rem;
}
.footer-introduce-desc {
  color: #aeaeae;
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
}
.footer-introduce-image {
  width: 18rem;
  object-fit: cover;
}
.footer-title {
  margin-bottom: 1.3rem;
  font-size: 2rem;
  color: white;
  font-weight: 500;
}
.footer-link-item {
  color: #aeaeae;
  font-size: 1.4rem;
  padding-bottom: 1rem;
}
.footer-link-item i {
  margin-right: 1rem;
}
.footer-fanpage-follow {
  position: relative;
}
.footer-fanpage-image {
}
.footer-fanpage-avatar {
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
}
.footer-fanpage-avatar i {
  color: white;
  background-color: #5890ff;
  border-radius: 50%;
}

.footer-fanpage-avatar > .title {
  /* color: white; */
}

.list-icon {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
}
.list-icon i {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  background-color: #ebebeb;
  color: #858585;
}

.copy-right {
  color: #aeaeae;
  font-size: 1.4rem;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.5rem 0;
}
